<div>
    <h1>Registro de productos</h1>
    <form action="/products" enctype="multipart/form-data" method="post" >
        <label>Nombre</label>
        <input name="title">
        <br />
        <label>Descripcion</label>
        <input name="description">
        <br />
        <label>Precio</label>
        <input name="price" type="number">
        <br />
        <label>Imagen</label>
        <input type="file" name="thumbnail">
        <br />
        <label>Codigo</label>
        <input name="code" type="number">
        <br />
        <label>Stock</label>
        <input name="stock" type="number">
        <br />
        <label>Categoria</label>
        <input name="category">
        <br />
        <button type="submit">Crear producto</button>
    </form>
    
</div>