 <h1>Restaurar contraseña</h1>
    <form method="post" action="/api/sessions/forgot-password" >
        <label>Email</label>
        <input name="email" type="email" placeholder="correo">
        <br/>
    <button type="submit">Restablecer contraseña</button>
    </form>
    <br>
    <a href="/">
        <button>Inicio</button>
    </a>

