
    <h1>Restaurar contrase単a</h1>
    <p>Ingrese la nueva contrase単a</p>
    <form method="post" action="/api/sessions/reset-password?token={{token}}" >
        <label>Email</label>
        <input name="email" type="email" placeholder="correo">
        <br/>
        <label>Contrase単a</label>
        <input name="newPassword" type="password">
        <button type="submit">Restablecer contrase単a</button>
    </form>
    <br>
        <a href="/">
        <button>Inicio</button>
    </a>

